 @charset "UTF-8";

:root {
  /* Cores Principais */
  --cor-cabecalho: #2c2520;
  --cor-destaque-ouro: #d4a43d;
  --cor-logo-escura: #846226;
  
  /* Cores de Fundo */
  --cor-fundo-site: #ececec;
  --cor-fundo-card: #ffffff;
  
  /* Cores de Texto */
  --cor-texto-escuro: #292929;
  --cor-titulo-azul: #1e3d59;
  --cor-link-azul: #3498db;
  --cor-rodape: #333333;

  /*Letras usadas*/
  --fonte-titulo: 'Merriweather', 'Georgia', serif;
  --texto-menu: 'Open Sans', "Lato" "Roboto" sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body { /*Divisão de três tabelas para (header, main e footer),congiguração das fontes principas e o tamanho geral do layout*/
    display: grid;/* Cria as 3 linhas: cabeçalho automático, conteúdo se expande, rodapé automático */
    grid-template-rows: auto 1fr auto 70px; /* Define que o conteúdo máximo do site fica centralizado em uma largura confortável */
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--cor-fundo-site);
    color: var(--cor-texto-escuro);
    font-family: 'Roboto';
    font-size: 16px; /* Tamanho ideal para leitura de parágrafos */
    line-height: 1.6; /* Dá um espaçamento entre linhas confortável para os olhos */
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center; /* Centraliza logo, links e busca verticalmente */
    justify-content: space-between; /* Empurra o logo para a esquerda e a busca para a direita */
    padding: 0px 25px;
    background-color: var(--cor-rodape);
    box-shadow: 0px 0px 9px 2px #2929293f;
    border-bottom: 4px solid #846226;
    border-left: 4px solid #846226;
    border-right: 4px solid #846226;
}

header h1 {
    color: var(--cor-fundo-card);
    font-size: 1.5em ;
} 

header a {
    padding: 0px 5px;
    text-decoration: none;
    color: var(--cor-destaque-ouro);
    font-size: 1.2em;
    font-weight: bold;
}

header a:hover {
    color: #3498db;
}

main { /*Divisão do main para duas tabelas uma para o conteudo principal e a barra de do conteudo segundario*/
    display: grid; /* Divide o meio em duas colunas: 3 partes para o texto do artigo e 1 parte para a barra lateral */
    grid-template-columns: 3fr 1fr;
    gap: 30px; /* Dá o espaço de respiro entre o texto e a barra lateral */
}

main a {
    color: var(--cor-link-azul);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

main a:hover {
    color: var(--cor-titulo-azul);
}

main p {
    margin: 15px;
}

main ul, ol {
    margin: 15px;
    padding-left: 40px;
}


h1 {
    font-size: 3em;
    font-family: var(--fonte-titulo);
    text-align: center;
    color: var(--cor-titulo-azul);
    font-weight: bold; /* Deixa o título em negrito */
}

h2 {
    color: var(--cor-destaque-ouro);
    font-family: 'Merriweather', 'Georgia', serif;
    font-weight: bold; /* Deixa o título em negrito */
    margin: 10px;
}

/* 2. Aplicando a fonte apenas para os Títulos */
 h3, h4 {
  font-family: 'Merriweather', 'Georgia', serif;
  font-weight: bold; /* Deixa o título em negrito */
  margin: 10px;
}

.livros-destaque {
    background-color: var(--cor-fundo-card);
    padding: 30px;
    height: 700px;
    box-shadow: 0px 0px 9px 2px #2929293f;
    border-right: 8px solid #846226;
    border-left: 8px solid #846226;
}

.livros-destaque h2 {
    color: var(--cor-destaque-ouro);
}

aside {
    background-color: var(--cor-fundo-card);
    color: var(--cor-titulo-azul);
    padding:10px 30px;
    border: 2px solid #846226;
}

footer {
    border-top: 4px solid #846226;
    background-color: var(--cor-rodape);
    color: var(--cor-fundo-card);
    padding: 10px 0px 20px 90px;
    box-shadow: 0px 0px 9px 2px #2929293f;
    border-left: 4px solid #846226;
    border-right: 4px solid #846226;
}

#nav-baixo {
    display: none;
}

@media screen and (max-width: 900px)

/*configurações para aparelhos moveis*/

{   
    header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center; /* Centraliza logo, links e busca verticalmente */
    justify-content: space-between; /* Empurra o logo para a esquerda e a busca para a direita */
    z-index: 9999;
    height: 60px;
    background-color: var( --cor-fundo-site);
    box-shadow: 0px 0px 9px 2px #2929293f;
    border-bottom: none;
    border-radius: 0px 0px 25px 25px;
    margin-bottom: 10px;
    }

    header h1 {
    color: var(--cor-titulo-azul);
    font-size: .5em ;
    text-align: left;
    }

    main {     
        width: 100%; /* Ocupa 90% do ecrã de forma limpa */ 
        margin: auto; 
        display: grid; /* Divide o meio em duas colunas: 3 partes para o texto do artigo e 1 parte para a barra lateral */
        grid-template-columns: 1fr; 
        hyphens: auto;      
    }

    main h1 {
        font-size: 1.6em;
        text-align: left;
        padding-left: 10px ;
    }

    main h2 {
        font-size: 1.2em;
    }

    main article { 
        border: none;
        max-width: 98%;
        padding: 20px 10px;
        border-radius: 0px 0px 25px 25px;
        border-right: none;
        border-left: none;
        margin: auto;
        border-left: 4px solid #846226;
        border-right: 4px solid #846226;
    }

    main .joao-obra {
        background-color: var(--cor-fundo-card);
        padding: 20px 10px;
        max-width: 98%;
        border-radius: 0px 0px 25px 25px;
        box-shadow: 0px 0px 9px 2px #2929293f;
        border-right: none;
        border-left: none;
        margin: auto;
        border-left: 4px solid #846226;
        border-right: 4px solid #846226;
    }

    main .percurso-guiado {
        background-color: var(--cor-fundo-card);
        padding: 20px 10px;
        max-width: 98%;
        border-radius: 0px 0px 25px 25px;
        box-shadow: 0px 0px 9px 2px #2929293f;
        border-right: none;
        border-left: none;
        margin: auto;
        border-left: 4px solid #846226;
        border-right: 4px solid #846226;
    }

    main .lsta-de-livros {
        background-color: var(--cor-fundo-card);
        padding: 20px 10px;
        max-width: 98%;
        border-radius: 0px 0px 25px 25px;
        box-shadow: 0px 0px 9px 2px #2929293f;
        border-right: none;
        border-left: none;
        margin: auto;
        border-left: 4px solid #846226;
        border-right: 4px solid #846226;
    }

    .livros-destaque {
        display: none;
    }
    
   #nav-baixo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        height: 40px;
        bottom: 0;
        width: 100%;
        z-index: 9999;
        background-color: var(--cor-fundo-site);
        box-shadow: 2px 2px 8px 5px #22222221;
        border-radius: 15px 25px 0px 0px;
        border-left: 4px solid #846226;
        border-right: 4px solid #846226;
    }

    menu ul {
        display: flex;
        list-style: none;
        gap: 45px;
        justify-content: space-around; /* Distribui os 5 itens igualmente pela largura */
        align-items: center;
        height: 100%; 
    }

    menu a {
        display: flex;
        flex-direction: column;        /* Alinha os elementos em linha vertical (coluna) */
        align-items: center;           /* Centraliza o ícone e o texto horizontalmente entre si */
        color: var(--cor-texto-escuro);
        font-size: small;
        text-decoration: none;
    }

    nav {
        display: none;
    }

    aside {
     display: none;
    }

    footer {
        display: none;
    }


}